<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Angular material calendar demo</title>
    <meta name="description" content="Angular material calendar demo">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
    [ng-cloak] {
        display: none;
    }
    </style>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/angular-material-calendar.css">
</head>

<body ng-app="demo" ng-cloak>
    <div ng-controller="MainCtrl as vm" id="demo" layout="column" style="height: 100%;  background-color: #EBEBEB;">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>Angular Material Calendar</h2>
                <span flex></span>
                <a hide-sm hide-xs href="#demo">Demo</a>
                <a hide-sm hide-xs href="#event-editor">Event editor</a>
                <a hide-sm hide-xs href="https://github.com/Jupitar/angular-material-calendar#installation">Installation</a>
                <a hide-sm hide-x href="https://github.com/Jupitar/angular-material-calendar#documentation">Documentation</a>
            </div>
        </md-toolbar>
        <md-content>
            <md-card layout-padding flex>
                <h2 style="text-align:center;">{{ vm.calendarTitle }}</h2>
                <div layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="center center" layout-align-gt-sm="none none">
                    <div flex>
                        <md-button md-date-modifier date="vm.calendarDay" decrement="vm.calendarView">
                            Previous
                        </md-button>
                        <md-button md-date-modifier date="vm.calendarDay" set-to-today>
                            Today
                        </md-button>
                        <md-button md-date-modifier date="vm.calendarDay" increment="vm.calendarView">
                            Next
                        </md-button>
                    </div>
                    <span flex="20"></span>
                    <div flex>
                        <md-radio-group ng-model="vm.calendarView" style="float:right;">
                            <md-radio-button class="md-primary" value="year">Year</md-radio-button>
                            <md-radio-button class="md-primary" value="month">Month</md-radio-button>
                            <md-radio-button class="md-primary" value="week">Week</md-radio-button>
                            <md-radio-button class="md-primary" value="day">Day</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <br>
                <md-large-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" current-day="vm.calendarDay" on-event-click="vm.eventClicked(calendarEvent)" on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd" on-edit-event-click="vm.eventEdited(calendarEvent)" on-delete-event-click="vm.eventDeleted(calendarEvent)" cell-is-open="vm.isCellOpen" day-view-start="06:00" day-view-end="22:00" day-view-split="30" cell-modifier="vm.modifyCell(calendarCell)">
                </md-large-calendar>
                <br>
                <br>
                <br>
                <script type="text/ng-template" id="modalContent.html">
                    <md-dialog aria-label="Modal" ng-cloak>
                        <form>
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>Event action occurred!</h2>
                                </div>
                            </md-toolbar>
                            <md-dialog-content>
                                <div class="md-dialog-content">
                                    <p>Action: <pre>{{ vm.action }}</pre></p>
                                    <p>Event: <pre>{{ vm.event | json }}</pre></p>
                                </div>
                            </md-dialog-content>
                            <md-dialog-actions layout="row">
                                <md-button ng-click="hide()">Hide</md-button>
                            </md-dialog-actions>
                            </md-dialog-content>
                        </form>
                    </md-dialog>
                </script>
            </md-card>
            <md-card layout-padding flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Edit events</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})" aria-label="Add New">
                            <i class="material-icons">add_circle</i>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-card-content>
                    <div layout="column" ng-cloak class="md-inline-form">
                        <form ng-repeat="event in vm.events track by $index">
                            <div layout-xs="column" layout-sm="column" layout-gt-sm="row">
                                <tr ng-repeat="event in vm.events track by $index">
                                    <md-input-container>
                                        <label>Title</label>
                                        <input ng-model="event.title">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Type</label>
                                        <md-select ng-model="event.type">
                                            <md-option value="important">Important</md-option>
                                            <md-option value="warning">Warning</md-option>
                                            <md-option value="info">Info</md-option>
                                            <md-option value="inverse">Inverse</md-option>
                                            <md-option value="success">Success</md-option>
                                            <md-option value="special">Special</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-datepicker ng-model="event.startsAt" md-placeholder="Starts At"></md-datepicker>
                                    <md-datepicker ng-model="event.endsAt" md-placeholder="Ends At"></md-datepicker>
                                    <md-input-container>
                                        <md-button ng-click="vm.events.splice($index, 1)">Delete</md-button>
                                    </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="dist/js/angular-material-calendar-tpls.js"></script>
    <script src="demo/demo.js"></script>
</body>

</html>
